.DS_Store
node_modules
/dist
/dist_electron


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android / Capacitor
android/.gradle
android/build
android/app/build
android/app/release
android/*.iml
android/app/*.iml
android/local.properties
android/.idea
android/captures
android/.externalNativeBuild
android/.cxx
android/app/src/main/assets/public
android/capacitor.config.json

# Gradle
.gradle
*.hprof
